@font-face {
    font-family: '작명~~';
    src : url()
}

div, input, textarea { /* class 명도 가능 */
    box-sizing: border-box; /* 실제 넓이 (padding, border 포함시키는것)*/
}
body {
    margin: 0px; /* 여백 제거 */
}

/*normalize.css 하고 시작 하면 각 브라우저마자 균일하게 적용할 수 있음*/ 


.main-background {
    width: 100%;
    height: 500px;
    /* ../ -> 라는 의미는 상위폴더로 이동하라는 뜻 */
    background-image: url(../img/shoes2.jpg);
    background-size: cover;
    /* contain 도 있는데 이건 배경이 남아도 좋으니까 잘리지 마라 이런의미 */
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: ; */
    filter: brightness(80%); /*밝기필터 안에 글씨 있으면 글씨에도 적용됨*/
    padding : 1px;

}

.main-title{
    color: white;
    font-size: 40px;
    margin-top: 200px; /*margin collapse 현상 발생 */
    padding : 1px;
    margin-bottom: 10px;
    position: relative;
    text-align: center;

}

.main-content{
    color: white;
    font-size: 20px;
    text-align: center;
}

.main-button{
    padding: 15px;
    font-size: 20px;
    background-color: white;
    border: none;
    border-radius: 5px;
    /* position: relative; 좌표속성 적용 ( 내 원래 위치를 기준으로 이동하세요. 좌표이동가능, 공중에 뜸  */
    /* position : static; 좌표고정 fixed 화면 고정(스크롤 되도 화면 고정됨) 
    absolute -> 내 부모를 기준으로 상대적으로 움직임( popsition: relative 를 가진 부모 기준)
    */
    position: absolute;
    /* bottom: 10px;
    right: 20px; */
    left: 0;
    right: 0;
    margin: auto;
    width: 150px;

}

.explain-box {
    width: 80%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: #eee;
    position: relative;
    top: -40px;
    z-index: 5; /* 높을수록 앞으로 옴 낮을수록 뒤로감*/
}
/*type이 텍스트인것만 됨 input[속성명=속성값] */
/* input[type=text] {
    padding: 10px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;

} */

.form-background {
    background-color: black;
    padding: 30px;
}

.form-white {
    background-color: white;
    padding: 30px;
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.form-input {
    width : 100%; /*100% +20px 정도 움직임*/
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}

.w-50 {
    width: 50%;
    float: left;
    padding: 10px;
}

.w-100 {
    width: 100%;
    padding: 10px;
}

.yellow-button {
    padding: 10px;
    display: block;
    margin-left : auto;
}


.nav-container {
    /* 이렇게 하면 가로배치 */
    display: flex;
    height: 50px;
    align-items: center;
    padding: 10px;
    /* justify-content: center; 가운데 정렬 */
}

.nav-item {
    margin-right: 10px;
}


.product-container {
    width: 80%;
    max-width: 600px;
    margin: auto;
    margin-top : 50px;
    margin-bottom:50px;
}
.product-container div {
    float: left;
    width: 25%;
    text-align: center;
}

.product-container i {
    background-color: burlywood;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    padding-top: 25px;
    box-sizing: border-box;
    color: white;
    margin-top: 20px;
}
/* one-way 애니메이션 만드는 step
1.시작스타일 만들기
2.최종스타일 만들기
3.언제 최종스타일로 변하는지
4.transition 으로 애니메이션
 */
.shop-bg {
    background-color: #eee;
    padding: 20px;
}
.shop-container {
    display: flex;
    width: 90%;
    margin: auto;
}
.shop-item {
    width: 33%;
    padding: 10px;
}

.shop-item img {
    width: 100%;
    display: block;

}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* 이것도 반투명 */
    opacity: 0; /* 투명도 조절 가능 */
    transition: all 1s; /* 스타일 변하면 1초에 걸쳐서 변경해라 이런의미 */
    transition-timing-function: cubic-bezier(); /* transition 변경속도 설정 */
}
.overlay:hover {
    opacity: 1;
}

.overlay-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.overlay-wrap:hover .overlay-black {
    margin-top: 50%;
}

.overlay-black {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    margin-top: 100%;
    transition: all 1s;
}



/* media query 문법 ( 코드가 맨 아래에 있어야 잘 작동함) */
/* 브라우저가 1200px 이하일 경우 적용 1200,992,768,576 보통 이렇게 단위로 나눔 */
/* 너무 많으면 관리 힘들다. 3개 정도만 사용 추천 */
@media screen and (max-width: 1200px){
    .main-title {
        font-size: 30px;
    }
    .product-container div{
        width: 50%;
    }
    .product-container {
        max-width: 600px;
    }
}

@media screen and (max-width: 768px){
    .main-title {
        font-size: 20px;
    }
    .product-container div{
        width: 100%;
    }
}
