/* class 는 점찍고 작명, 이름 중복 피하기,  */
/* id vs class -> id는 보통 사용하지 않음 */
.profile{
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.title
{
    text-align: center
}

.content {
    text-align: center
}

.box {
    width: 200px;
    background-color: cadetblue;
    margin: 10px;
    padding: 40px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
    color: white;
    box-shadow: 5px 5px black;

}

.container {
    width : 800px;
    
}
.header {
    width: 100%;
    height: 100px;
    background: aquamarine;
}

.left-menu{
    width: 20%;
    height: 400px;
    background: cornflowerblue;
    display: inline-block;
    /* float: left; */
}

.right{
    width: 80%;
    height: 400px;
    background: coral;
    display: inline-block;
    /* 디프를레이 inline-blick = 어올림같으 느낌 띄어쓰기도 없애주는 귀찮음이 생김 혹은 font size 설정 근데 left 가 더 편한듯*/

    /* float: left; */
}

.footer{
    width: 100%;
    height: 100px;
    background-color: grey;
    /* clear: both; */
}
