@font-face {
    font-family: '작명~~';
    src : url()
}

div, input, textarea { /* class 명도 가능 */
    box-sizing: border-box; /* 실제 넓이 (padding, border 포함시키는것)*/
}
body {
    margin: 0px; /* 여백 제거 */
}

/*normalize.css 하고 시작 하면 각 브라우저마자 균일하게 적용할 수 있음*/ 


.main-background {
    width: 100%;
    height: 500px;
    /* ../ -> 라는 의미는 상위폴더로 이동하라는 뜻 */
    background-image: url(../img/shoes2.jpg);
    background-size: cover;
    /* contain 도 있는데 이건 배경이 남아도 좋으니까 잘리지 마라 이런의미 */
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: ; */
    filter: brightness(80%); /*밝기필터 안에 글씨 있으면 글씨에도 적용됨*/
    padding : 1px;

}

.main-title{
    color: white;
    font-size: 40px;
    margin-top: 200px; /*margin collapse 현상 발생 */
    padding : 1px;
    margin-bottom: 10px;
    position: relative;
    text-align: center;

}

.main-content{
    color: white;
    font-size: 20px;
    text-align: center;
}

.main-button{
    padding: 15px;
    font-size: 20px;
    background-color: white;
    border: none;
    border-radius: 5px;
    /* position: relative; 좌표속성 적용 ( 내 원래 위치를 기준으로 이동하세요. 좌표이동가능, 공중에 뜸  */
    /* position : static; 좌표고정 fixed 화면 고정(스크롤 되도 화면 고정됨) 
    absolute -> 내 부모를 기준으로 상대적으로 움직임( popsition: relative 를 가진 부모 기준)
    */
    position: absolute;
    /* bottom: 10px;
    right: 20px; */
    left: 0;
    right: 0;
    margin: auto;
    width: 150px;

}

.explain-box {
    width: 80%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: #eee;
    position: relative;
    top: -40px;
    z-index: 5; /* 높을수록 앞으로 옴 낮을수록 뒤로감*/
}
/*type이 텍스트인것만 됨 input[속성명=속성값] */
/* input[type=text] {
    padding: 10px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;

} */

.form-background {
    background-color: black;
    padding: 30px;
}

.form-white {
    background-color: white;
    padding: 30px;
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.form-input {
    width : 100%; /*100% +20px 정도 움직임*/
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}

.w-50 {
    width: 50%;
    float: left;
    padding: 10px;
}

.w-100 {
    width: 100%;
    padding: 10px;
}

.yellow-button {
    padding: 10px;
    display: block;
    margin-left : auto;
}


.nav-container {
    /* 이렇게 하면 가로배치 */
    display: flex;
    height: 50px;
    align-items: center;
    padding: 10px;
    /* justify-content: center; 가운데 정렬 */
}

.nav-item {
    margin-right: 10px;
}